* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-window {
    max-width: 400px;
    width: 100%;
    min-height: 240px;
    background-color: #f2f2f2;
    padding: 10px 25px 35px;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.input-password {
    position: relative;
}

.input-password__btn {
    position: absolute;
    top: 5px;
    right: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}

.input-password__btn .fas {
    font-size: 18px;
    color: #a6a6a6;
    padding: 10px;
}

.subscribe-form-text,
.subscribe-form-password {
    width: 350px;
    padding: 17px 50px 17px 20px;
    background-color: #f0eef0;
    margin-bottom: 10px;
    border: 1px solid #dfdfdf;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: 95%, 50%;
    outline-color: #999;
}

.subscribe-form-text {
    background-image: url(../img/user.png);
}

.subscribe-form-text::placeholder,
.subscribe-form-password::placeholder {
    color: #999;
}

.subscribe-form-btn {
    max-width: 340px;
    width: 100%;
    padding: 12px 0;
    text-align: center;
    align-self: center;
    cursor: pointer;
    border: 1px solid #0473a2;
    border-radius: 5px;
    background-color: #23beff;
    color: #fff;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: inset 0 1px 0 rgba(180, 233, 255, .7);
    background-image: linear-gradient(to bottom, #1eabe8, #0485bb);
}

.subscribe-form-btn:hover {
    background-image: linear-gradient(to bottom, #10a2db, #08acf3);
}

.login-form-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #555;
}

.form-bottom-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.form-bottom-link {
    text-decoration: none;
    color: inherit;
}

.form-bottom-link:hover {
    text-decoration: underline;
    cursor: pointer;
}
